[build]
target-dir = "./.temp/target/"

[alias]
pub = "run --manifest-path crates/build_helper/Cargo.toml --bin exporter"

[publish]
target-dir = "./.temp/publish/"
binaries = [
    "jv",
    "jv.exe",

    "jvv",
    "jvv.exe",

    "jvref",
    "jvref.exe"
]
