[build]
target-dir = "./.temp/target/"

[alias]
dev = "run --manifest-path crates/cli_publisher/Cargo.toml"
release = "run --manifest-path crates/cli_publisher/Cargo.toml --release"

[publish]
target-dir = "./.temp/publish/"
binaries = [
    "jv",
    "jv.exe",

    "jvv",
    "jvv.exe"
]
