[build]
target-dir = "./.temp/target/"

[alias]
pub = "run --manifest-path crates/build_helper/Cargo.toml --bin exporter"

[publish]
target-dir = "./.temp/publish/"
binaries = [
    "jv",
    "jv.exe",

    "jvv",
    "jvv.exe",
]

[copies.completion_jv]
from = "scripts/completion_jv.sh"
to = "completion_jv.sh"

[copies.completion_jvv]
from = "scripts/completion_jvv.sh"
to = "completion_jvv.sh"

[copies.entry]
from = "scripts/cli.sh"
to = "cli.sh"
