[build]
target-dir = "./.temp/target/"

[publish]
target-dir = "./export/"
binaries = [
    "jv",
    "jv.exe",

    "jvv",
    "jvv.exe",

    "jvii",
    "jvii.exe"
]

############
### Bash ###
############

# Completions
[copies.completion_jv_bash]
from = "scripts/completions/bash/completion_jv.sh"
to = "completions/bash/completion_jv.sh"

[copies.completion_jvv_bash]
from = "scripts/completions/bash/completion_jvv.sh"
to = "completions/bash/completion_jvv.sh"

# Entries
[copies.entry_bash]
from = "scripts/jv_cli.sh"
to = "jv_cli.sh"

##################
### Powershell ###
##################

# Completions
[copies.completion_jv_powershell]
from = "scripts/completions/powershell/completion_jv.ps1"
to = "completions/powershell/completion_jv.ps1"

[copies.completion_jvv_powershell]
from = "scripts/completions/powershell/completion_jvv.ps1"
to = "completions/powershell/completion_jvv.ps1"

# Entries
[copies.entry_powershell]
from = "scripts/jv_cli.ps1"
to = "jv_cli.ps1"

##################
### Zsh Plugin ###
##################

[copies.zsh_plugin]
from = "scripts/zsh_support/jvcs.plugin.zsh"
to = "scripts/zsh_support/jvcs.plugin.zsh"

[copies.zsh_plugin_installation]
from = "scripts/zsh_support/how_to_install.md"
to = "scripts/zsh_support/how_to_install.md"
