match renderer_str {
// MATCH
// -- TEMPLATE START --
    "<<NAME>>" => {
        Self::process_with_renderer::<
            RendererType
        >(args, ctx)
        .await
    }
// -- TEMPLATE END --
    _ => {
        return Err(CmdProcessError::Render(CmdRenderError::RendererNotFound(
            renderer_str.to_string(),
        )));
    }
}
